<%- include("../partials/header") %>
<%- include("../partials/meta") %>
<link rel="stylesheet" href="/css/manage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
<title>관리 페이지 | <%= guild.name %> » <%= bot.user.username %> 대시보드</title>
<section class="hero is-medium is-black" style="padding-top: 80px; padding-bottom: 50px;">
    <div class="container">
        <br>
        <br>
        <figure>
            <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512` : 'https://i.imgur.com/RO3uUxX.png' %>" height="200" width="200">
        </figure>
        <br>
        <h1 style="text-align: center;">
            <strong style="color: white;"><%= guild.name %></strong> <span style="color: white;">대시보드</span>
        </h1>
    </div>
</section>
<div class="container" style="padding-top: 20px; padding-bottom: 30px;">
    <div class="columns is-centered">
        <div class="field is-grouped has-image-centered" style="text-align: center;">
            <p class="control">
                <a href="/dashboard/server/<%= guild.id %>/" class="">
                    <i class="fa-solid fa-angles-left" style="padding-right: 5px; text-align: center;"></i> 돌아갈래요?
                </a>
            </p>
        </div>
    </div>

    <hr style="background-color: dimgray">
    <% if (!vch) { %>
    <form role="form" id="create" action="/dashboard/server/<%= guild.id %>/autovoice" method="POST" style="margin: auto; width: 300px;">
        <h1 style="color: white;">
            <i class="fas fa-microphone" style="padding-right: 5px; color: white; text-align: center;"></i> 오토보이스
        </h1><br>
        <br>
        <h3 style="color: white; text-align: center;">
            카테고리
        </h3><br>
        <div class="select">
            <select name="category" form="create">
        <% category.forEach(ch => { %>
            <option value="<%= ch.id %>">#<%= ch.name %></option>
            <% }) %>
            </select>
        </div>
        <input name="type" type="hidden" value="create">
        <div class="panel pink">
            <button type="submit">생성하기</button>
        </div>
        <br>
        <br>
    </form>
    <% } else { %>
        <form role="form" id="recreate" action="/dashboard/server/<%= guild.id %>/autovoice" method="POST" style="margin: auto; width: 300px;">
            <h1 style="color: white;">
                <i class="fas fa-microphone" style="padding-right: 5px; color: white; text-align: center;"></i> 오토보이스
            </h1><br>
            <br>
            <h3 style="color: white; text-align: center;">
                카테고리
            </h3><br>
            <div class="select">
                <select name="category" form="recreate">
            <% category.forEach(ch => { %>
                <option value="<%= ch.id %>">#<%= ch.name %></option>
                <% }) %>
                </select>
            </div>
            <input name="type" type="hidden" value="recreate">
            <div class="panel pink">
                <button type="submit">삭제 후 생성하기</button>
            </div>
            <br>
            <br>
        </form>
        <form role="form" id="removeautov" action="/dashboard/server/<%= guild.id %>/autovoice" method="POST" style="margin: auto; width: 300px;">
            <div class="panel pink">
                <input name="type" type="hidden" value="remove">
                <button type="submit">오토보이스 채널 삭제하기</button>
            </div>
        </form>
    <% } %>
</div>
<% if (success) { %>
<script>
    window.onload = function() {
        const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'success',
              title: '오토보이스 채널이 생성됐어요'
            })
    }
</script>
<% } %>
<% if (removed) { %>
    <script>
        window.onload = function() {
            const Toast = Swal.mixin({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })
    
                Toast.fire({
                  icon: 'error',
                  title: '오토보이스 채널이 삭제됐어요'
                })
        }
    </script>
    <% } %>
<script src="/js/check.js"></script>
<%- include('../partials/footer') %>