<%- include("../partials/header") %>
<%- include("../partials/meta") %>
<link rel="stylesheet" href="/css/manage.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
<title>관리 페이지 | <%= guild.name %> » <%= bot.user.username %> 대시보드</title>
<section class="hero is-medium is-black" style="padding-top: 80px; padding-bottom: 50px;">
    <div class="container">
        <br>
        <br>
        <figure>
            <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512` : 'https://i.imgur.com/RO3uUxX.png' %>" height="200" width="200">
        </figure>
        <br>
        <h1 style="text-align: center;">
            <strong style="color: white;"><%= guild.name %></strong> <span style="color: white;">대시보드</span>
        </h1>
    </div>
</section>
<div class="container" style="padding-top: 20px; padding-bottom: 30px;">
    <div class="columns is-centered">
        <div class="field is-grouped has-image-centered" style="text-align: center;">
            <p class="control">
                <a href="/dashboard/server/<%= guild.id %>/" class="">
                    <i class="fa-solid fa-angles-left" style="padding-right: 5px; text-align: center;"></i> 돌아갈래요?
                </a>
            </p>
        </div>
    </div>

    <hr style="background-color: dimgray">
    
    <form role="form" id="secinv" action="/dashboard/server/<%= guild.id %>/secureinv" method="POST" style="margin: auto; width: 435px;">
        <h1 style="color: white;">
            <i class="fas fa-fingerprint" style="padding-right: 5px; color: white; text-align: center;"></i> 보안링크
        </h1><br>
        <br>
        <h2 style="color: white; text-align: center;">
            설정된 링크<br>
            <span style="color: white; font-weight: bolder;"><%= data.link !== '설정되지 않았어요' ? `serviceURL/i/data.link` : `설정되지 않았어요` %></span>
        </h2><br><br>
        <h3 style="color: white; text-align: center; font-weight: bolder;">
            인증 방식을 선택하세요
        </h3>
        <div class="select">
            <select name="vtype" form="secinv">
                <option value="captcha">캡챠</option>
                <option value="email">이메일 인증</option>
                <option value="kr_ip">해외 IP 차단 + 캡챠</option>
            </select>
        </div><br>
        <p>
        <label style="color: white; text-align: center; font-weight: bolder;"><%= serviceURL %>/i/</label>
        <input class="manage input" style="color: black; font-weight: bolder;" name="link" type="text" placeholder="<%= data.link !== '설정되지 않았어요' ? data.link : `` %>" required>
        </p>
        <br>
        <!-- <button type="submit" class="button is-warning is-rounded is-small is-link"><i class="fas fa-paper-plane" style="padding-right: 5px;"></i> 저장하기</button> -->
        <div class="panel pink">
            <button type="submit">저장하기</button>
        </div>
        <br>
        <br>
    </form>
    <% if (data.link !== '설정되지 않았어요') { %>
    <form role="form" id="logoff" action="/dashboard/server/<%= guild.id %>/secureinv" method="POST" style="margin: auto; width: 300px;">
        <input name="type" type="hidden" value="remove">
        <div class="panel pink">
            <button type="submit">보안링크 끄기</button>
        </div>
    </form>
    <% } %>
</div>
<% if (set) { %>
<script>
    window.onload = function() {
        const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'success',
              title: '설정되었어요'
            })
    }
</script>
<% } %>
<script src="/js/check.js"></script>
<%- include('../partials/footer') %>