<%- include("../../partials/header") %>
<%- include("../../partials/meta") %>
<link rel="stylesheet" href="/css/manage.css">
<title>#<%=channel.name%> » <%= bot.user.username %> 대시보드</title>

<section class="hero is-small has-text-centered is-link">
    <div class="hero-body" style="padding-top: 50px; padding-bottom: 50px; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url(<%= user.banner ? `https://cdn.discordapp.com/banners/${user.id}/${user.banner}?size=2048` : '' %>)">
        <figure>
            <img src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512` : 'https://i.imgur.com/RO3uUxX.png' %>" height="200" width="200">
        </figure>
        <br>
        <h1 class="is-size-1" style="color: white; text-align: center; text-shadow: 0 0 15px pink;">
            #<%= channel.name %>
        </h1>
    </div>
    
    <p class="control" style="text-align: center">
        <a href="/dashboard/server/<%= guild.id %>/channels" class="button is-sm is-rounded is-white" style="text-align: center">
            <i class="fa-solid fa-angles-left" style="padding-right: 5px; text-align: center;"></i> 돌아갈래요?
        </a>
    </p>
</section>
<div class="div-discord sm-round div-level" style="color: white; text-align: center;">
    <h5>ID: <%= channel.id %></h5>
    <p style="color: white;">슬로우: <span style="font-weight: bolder;"><%= channel.rateLimitPerUser %></span>초</p>
    <p style="color: white;">잠겨있나요?&nbsp;&nbsp;<span style="font-weight: bolder; color: rgb(255, 172, 172);"><%= channel.locked ? '예' : '아니요' %></span></p>
    <p style="color: white;">생성일: <span style="font-weight: bolder;"><%= moment(channel.createdAt).format("YYYY/MM/DD ddd, hh:mm:ss") %></span></p>
    <p style="color: white;">카테고리: <span style="font-weight: bolder; color: rgb(121, 255, 123);"><%= channel.parent ? channel.parent.name : '없어요' %></span></p>
    <p style="color: white;">종류: <span style="font-weight: bolder; color: aqua;"><%= channel.type == 'GUILD_TEXT' ? '채팅' : '음성 또는 기타' %></span></p>
</div>
<br><br><br>
<div class="container">
<form role="form" id="slow" action="/dashboard/server/<%= guild.id %>/channels/<%= channel.id %>" method="POST" style="margin: auto;">
    <h1 style="color: white;">
        <i class="fas fa-clock" style="padding-right: 5px; color: white; text-align: center;"></i> 슬로우 모드
    </h1>
    <div class="select" style="align-content: center;margin-left: auto; margin-right: auto;">
        <select name="time" form="slow">
            <option value="0">해제 (0초)</option>
            <option value="1">1초</option>
            <option value="5">5초</option>
            <option value="10">10초</option>
            <option value="30">30초</option>
            <option value="60">1분</option>
            <option value="120">2분</option>
            <option value="300">5분</option>
            <option value="600">10분</option>
            <option value="1800">30분</option>
            <option value="3600">1시간</option>
            <option value="21600">6시간</option>
        </select>
    </div>
    <div class="panel pink">
        <button type="submit">저장</button>
    </div>
</form>
</div>

<% if (ts.ts == 'true') { %>
    <meta http-equiv="refresh" content="7; url=/dashboard/server/<%=guild.id%>/channels/<%= channel.id %>"></meta>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        window.onload = function() {
            const Toast = Swal.mixin({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })
    
                Toast.fire({
                  icon: 'success',
                  title: '슬로우 모드를 설정했어요'
                })
        }
    </script>
<% } %>

<%- include("../../partials/footer") %>